.formbg{
    background-image: linear-gradient(#f3e6e7,#ffffff);
    background-size: cover;
}
.invalid{
   padding-top:100px;
   font-size: xx-large;
}
.form{
    width: 100rem;
    height: fit-content;
    padding-bottom: 20px;
    
}